<!DOCTYPE html>
<html lang="en">
	<head>

		<!--STYLESHEETS++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

		<!-- CSS -->
		
	    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

	    {{!-- Materialize Icons --}}
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	    <!-- Fonts -->
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	    <!--Let browser know website is optimized for mobile-->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	    <!-- Jquery CDN -->
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	    {{!-- jQuery UI CDN --}}
	    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery.ui.all.css">

	    <!-- Compiled and minified JavaScript -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

	    {{!-- Featherlight Lightbox --}}
	    <link href="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.css" type="text/css" rel="stylesheet" />


    	<title>re/locate</title>

    </head>

	<body>

		{{{ body }}}
		
		<!-- JAVASCRIPT+++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	    

	   	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript" charset="utf-8"></script>

	   	<script src="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
	   	 

	    <!-- Custom JavaScript Files -->
	    <script type="text/javascript" src="/assets/js/background.js"></script>
	    <script type="text/javascript" src="/assets/js/bgVideo.js"></script>

	    
	    
	</body>
	
</HTML>