@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
/* ///////// */
/* HOME PAGE */
/* ///////// */
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: auto;
  width: 100%;
  overflow: hidden;
  background: #000;
  background-repeat: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute; }

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%; }

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0; }

.video-container video.fillWidth {
  width: 100%; }

#landingPage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999; }
  #landingPage #homePageTitle {
    text-align: center;
    margin-top: 15%;
    z-index: 9990; }
  #landingPage #homePageText {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    margin-top: -2%;
    z-index: 9990; }
  #landingPage #homePageLogo {
    width: 100%;
    height: auto; }

.modal-content p {
  text-align: center; }
.modal-content h4 {
  text-align: center;
  color: black;
  font-family: "Raleway", sans-serif; }
.modal-content input.validate {
  color: black; }
.modal-content input#email:focus, .modal-content input#password:focus {
  border-bottom: 1px solid #9CCC65; }
.modal-content .row .input-field label.active {
  color: #9CCC65; }

/* //////// */
/* REGISTER */
/* //////// */
#personalInfoForm input {
  color: black; }
#personalInfoForm i {
  color: #9CCC65; }

.registerLabel {
  color: #9CCC65; }

#errorMsg {
  background-color: #9ccc65;
  color: red;
  text-align: center;
  font-family: "Raleway", sans-serif; }

/* ///////// */
/* DASHBOARD */
/* ///////// */
body {
  background-repeat: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.nav-wrapper .dropdown-button {
  position: absolute;
  right: 0;
  top: 0; }
.nav-wrapper .input-field input[type="search"] ~ .material-icons.icon-close {
  right: 2rem; }

nav i {
  -webkit-filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.75));
  padding: 0px 10px; }
nav ::-webkit-input-placeholder {
  color: white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-family: "Raleway", sans-serif; }
nav :-moz-placeholder {
  /* Firefox 18- */
  color: white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-family: "Raleway", sans-serif; }
nav ::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-family: "Raleway", sans-serif; }
nav :-ms-input-placeholder {
  color: white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-family: "Raleway", sans-serif; }
nav ul a:hover {
  color: white !important;
  background-color: #9CCC65 !important; }
nav .dropdown-content li > a {
  color: #9CCC65; }
nav #dropdown1 {
  border-radius: 5px; }

.autocomplete-suggestions .autocomplete-suggestion {
  background-color: white;
  color: black;
  border-bottom: thick 1px;
  padding: 2px 0px 2px 15px; }
.autocomplete-suggestions .autocomplete-selected {
  background: #F0F0F0; }

#logoImg {
  bottom: 0%;
  position: fixed; }

#mainContent {
  padding-top: 20px;
  /* label underline focus color */ }
  #mainContent h1 {
    margin: 0rem;
    padding: 0rem 0rem 3rem 0rem; }
  #mainContent .whiteBorder {
    border-right: 1px double white; }
  #mainContent div.row.infoTitle {
    padding: 10px;
    color: white !important;
    font-family: "Raleway", sans-serif;
    height: auto;
    width: auto;
    display: inline-block;
    margin-bottom: 5px; }
  #mainContent .cardText {
    font-family: "Raleway", sans-serif; }
  #mainContent .colTitles p {
    margin: 0em;
    color: black; }
  #mainContent .roundedCorners {
    border-radius: 5px; }
  #mainContent h1 {
    font-family: "Quicksand", sans-serif; }
  #mainContent .progress {
    background-color: #ccf1a2; }
    #mainContent .progress .determinate {
      background-color: #9CCC65; }
  #mainContent input#jobSearch {
    color: black; }
    #mainContent input#jobSearch :focus {
      border-bottom: 1px solid #9CCC65; }
  #mainContent input#jobSearch:focus {
    border-bottom: 1px solid #9CCC65; }
  #mainContent .card-title {
    font: "Raleway", sans-serif;
    font-size: 2rem;
    text-transform: uppercase; }
  #mainContent .card-subTitle {
    font: "Raleway", sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase; }
  #mainContent .input-field input[type=text]:focus + label {
    color: #9CCC65; }
  #mainContent .input-field input[type=text]:focus {
    border-bottom: 1px solid #9CCC65;
    box-shadow: 0 1px 0 0 #000; }
  #mainContent #jobButton {
    background-color: #9CCC65; }
  #mainContent #currentWeatherInfo {
    font-size: 2rem; }

@media (min-aspect-ratio: 16 / 9) {
  .video-container {
    width: 100%;
    height: auto; } }
@media (max-aspect-ratio: 16 / 9) {
  .video-container {
    width: auto;
    height: 100%; } }

/*# sourceMappingURL=style.css.map */
